body {
    width: 100%;
    /*ページ全体の幅は100%と指定する*/
    text-align: center;
    /*ページ全体を中央揃えにする*/
}

#wrap {
    width: 960px;
    /*全体の幅を指定する*/
    margin: 0 auto;
    /*マージンの指定をする、ブラウザ対策*/
    text-align: left;
    /*全体を左揃えにする。*/
}

.button-marry {
    font-size: 18px;
    display: inline-block;
    padding: 0.5em 1em 0.3em;
    color: #ffffff;
    border-radius: 25px;
    background-color: #0099ff;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}